*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
.container{
    /* width: 70%; */
    margin: 0 auto;
    border: 1px solid red;
}
.rel{
    background-color: green;
    border: 1px solid black;
    width: 200px;
    height: 100px;
    float: left;
    /* position: absolute; */
    /* top bottom left right */
}
.rel.fixed{
    /* position: fixed; */
}
p{
    width: 100px;
    font-size: 20px;
}
header{
    background-color: blanchedalmond;
    height: 100px;
    padding: 20px;
    /* position: fixed; */
    position: sticky;
    z-index: 2;
    top: 0;
}
button{
    padding: 5px 10px;
    position: relative;
    background-color: blue;
    color: white;
    text-align: center;
    border: 2px solid blue;
    border-radius: 5px;
}
/* button span{
    display: inline-block;
    padding: 5px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    position: absolute;
    right: -20px;
    top: -15px;
} */
button:hover{
    background-color: rgb(235, 76, 8);
    border:2px solid black;
}
button:hover span{
    background-color: yellow;
}
header:hover{
    background-color: greenyellow;
}
.center{
    text-align: center;
}
.hover-btn{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid red;
    background-color: black;
    color: white;
}
.hover-btn:hover{
    border-radius: 10px;
    border: 2px solid black;
    background-color: red;
}
.hover-btn:hover span{
    color:white;
    text-transform: uppercase;
}
.hover-card{
    margin: 50px auto;
    border: 2px solid red;
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: white;
}
.hover-block{
    width: 200px;
    height: 100px;
    padding: 20px;
    text-align: center;
    background-color: black;
    color: red;
    position: absolute;
    bottom:-100px
}
.hover-card:hover .hover-block{
    bottom:0;
}
h1{
    position: relative;
    padding: 20px;
}
h1::before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: red;
    border: 2px solid black;
    position: absolute;
    left: 10px;
    top: -10px;

}
h1:hover::before{
    width: 200px;
}
/* h1:not()
h1:nth-child() */
h1::after{
    content: "Hello affter";
}

