*{
    box-sizing: border-box;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.example{
    margin: 50px auto;
    width: 500px;
    text-align: center;
    border: 3px solid black;
}
.dib{
    width: 200px;
    /* display: inline-block; */
    background-color: yellow;
}
.left{
    float: left;
}
.right{
    float: right;
}
.row{
    margin-bottom: 40px;
}
.student-item {
    width: 607px;
}
.img-block{
    width: 125px;
}
.text-block{
    width: 451px;
}
.wrapper{
    width: 1220px;
    margin: 0 auto;
}

